{% extends 'image_gallery/base.html' %} {% load static %} {% block content %}

<div class="flex wrap center">
    <div class="left__menu">
        <div>

            <form action="">
                <input type="text" name="search" id="search" placeholder="Search here..">
                <button type="submit" class="btn-1"><i class="fa fa-search"></i></button>
                <button class="btn-1" onclick="window.location.href='{% url 'image_gallery:home' %}'; return false;"><i class="fa fa-undo"></i></button>
                <div>
                    {{filter.form}}
                </div>
            </form>
        </div>
    </div>
    <div class="right__menu">
        <div class="flex space-around wrap">

            {% for image in images %}

            <div class="image__container">
                <div class="flex space-between align-center">
                    <h4 style="margin: 0; text-transform: capitalize;">{{image.owner.username}}</h4>
                    {% if request.user == image.owner %}
                    <div class="flex center">
                        <a href="{% url 'image_gallery:image_update' image.id %}" class="pointer image__icon circled__svg flex align-center hint__element center">
                            <i class="fas fa-pencil-alt"></i>
                            <span class="hint hide">Edit</span>
                        </a>
                        <div class="pointer image__icon circled__svg flex align-center hint__element center" onclick="delete_image('{% url 'image_gallery:image_delete' image.id %}', '{{csrf_token}}')">
                            <i class="fal fa-trash-alt"></i>
                            <span class="hint hide">Delete</span>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <p class="created">{{image.created_at}}</p>
                <img width="300" height="200" src="{{image.photo.url}}" alt="">
                <h5 style="max-width: 300px;">{{image.catagory}}</h5>
                <div style="max-width: 300px; text-align: justify;" class="description">{{image.description_text}} <a href="{% url 'image_gallery:image_detail' image.id %}" style="color: blueviolet;">read more?</a></div>
                <hr>
                <div style="max-width: 300px;" class="flex space-between align-center">
                    <h4>{{image.price}} &#8377;</h4>
                    <a href="{% url 'image_gallery:payment' %}" class="buy">Buy Now</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}