{% extends "image_gallery/base.html" %} {% load static %} {% block content %} {% load crispy_forms_tags %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div>
            <span>If you don't find your catagory in list then click the button below to add new Catagory.</span>
            <br>
            <button type="button" onclick="add_catagory('{% url 'image_gallery:catagory_create' %}', '{{csrf_token}}')" class="btn btn-primary">Add New Catagory</button>
        </div>
        {% csrf_token %} {{form|crispy}}
        <button type="submit" style="margin: 10px 0;" class="btn btn-primary">Create/ Update</button>
        <a style="margin: 10px 0;" class="btn btn-primary" href="{% url 'image_gallery:home' %}">Back?</a>
    </form>
</div>
{% endblock %}