<!doctype html>

<html lang="en">


<head>

    <!-- Required meta tags -->

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://kit.fontawesome.com/67bc463eb8.js" crossorigin="anonymous"></script>
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">

    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


    <title>Payment Gateway</title>

    <style>
        body {
            background: #f5f5f5
        }
        
        .rounded {
            border-radius: 1rem
        }
        
        .nav-pills .nav-link {
            color: #555
        }
        
        .nav-pills .nav-link.active {
            color: white
        }
        
        input[type="radio"] {
            margin-right: 5px
        }
        
        .bold {
            font-weight: bold
        }
        
        .pointer {
            cursor: pointer;
        }
    </style>

</head>


<body>

    <div class="container py-5">

        <!-- For demo purpose -->
        <div class="row mb-4">
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="display-6">Dummy Payment Gateway</h1>
                <p>This is just a interface no features will work now but it will be added soon.</p>
                <p style="color: red; background-color: yellow; padding: 5px; width: fit-content; margin: auto;">Note: Do not enter your original credential here.</p>
                <a href="{% url 'image_gallery:home' %}" class="btn btn-primary m-2">Back to Home</a>
            </div>
        </div>
        <!-- End -->

        <div class="row">
            <div class="col-lg-6 mx-auto">

                <div class="card ">

                    <div class="card-header">

                        <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                            <!-- Credit card form tabs -->
                            <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                                <li class="nav-item">
                                    <div id="credit_card_option" data-toggle="pill" class="nav-link active pointer"><i class="fas fa-credit-card mr-2"></i> Credit Card </div>
                                </li>

                                <li class="nav-item">
                                    <div id="paypal_option" data-toggle="pill" class="nav-link pointer"><i class="fab fa-paypal mr-2"></i> Paypal </div>
                                </li>

                                <li class="nav-item">
                                    <div id="net_banking_option" data-toggle="pill" class="nav-link pointer"><i class="fas fa-mobile-alt mr-2"></i> Net Banking </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End -->

                        <!-- Credit card form content -->
                        <div class="tab-content">
                            <!-- credit card info-->
                            <div id="credit-card" class="tab-pane fade show active pt-3">
                                <form role="form" onsubmit="event.preventDefault()">
                                    <div class="form-group">
                                        <label for="username">                                            
                                            <h6>Card Owner</h6> 
                                        </label>
                                        <input type="text" name="username" placeholder="Card Owner Name" required class="form-control ">
                                    </div>

                                    <div class="form-group">
                                        <label for="cardNumber">                                        
                                            <h6>Card number</h6>                                        
                                        </label>
                                        <div class="input-group">
                                            <input type="text" name="cardNumber" placeholder="Valid card number" class="form-control " required>
                                            <div class="input-group-append">
                                                <span class="input-group-text text-muted">
                                                    <i class="fab fa-cc-visa mx-1"></i>
                                                    <i class="fab fa-cc-mastercard mx-1"></i>
                                                    <i class="fab fa-cc-amex mx-1"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label>
                                                    <span class="hidden-xs"><h6>Expiration Date</h6></span>
                                                </label>
                                                <div class="input-group">
                                                    <input type="number" placeholder="MM" name="" class="form-control" required>
                                                    <input type="number" placeholder="YY" name="" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group mb-4">
                                                <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                                    <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                                </label>
                                                <input type="text" required class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-footer">
                                        <button type="button" class="subscribe btn btn-primary btn-block shadow-sm">Confirm Payment </button>
                                    </div>
                                </form>
                            </div>
                            <!-- End -->

                            <!-- Paypal info -->
                            <div id="paypal" class="tab-pane fade pt-3">
                                <h6 class="pb-2">Select your paypal account type</h6>
                                <div class="form-group ">
                                    <label class="radio-inline"><input type="radio" name="optradio" checked>Domestic </label>
                                    <label class="radio-inline"><input type="radio" name="optradio" class="ml-5">International </label>
                                </div>
                                <hr>
                                <p>
                                    <button type="button" class="btn btn-primary "><i class="fab fa-paypal mr-2"></i> Log into my Paypal</button>
                                </p>

                                <p class="text-muted">
                                    Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order.
                                </p>

                            </div>
                            <!-- End -->

                            <!-- bank transfer info -->
                            <div id="net-banking" class="tab-pane fade pt-3">
                                <div class="form-group ">
                                    <label for="Select Your Bank"><h6>Select your Bank</h6></label>
                                    <select class="form-control" id="ccmonth">
                                        <option value="" selected disabled>--Please select your Bank--</option>
                                        <option>Bank 1</option>
                                        <option>Bank 2</option>
                                        <option>Bank 3</option>
                                        <option>Bank 4</option>
                                        <option>Bank 5</option>
                                        <option>Bank 6</option>
                                    </select>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <p>
                                        <button type="button" class="btn btn-primary "><i class="fas fa-mobile-alt mr-2"></i> Proceed Payment</button>
                                    </p>
                                </div>

                                <p class="text-muted">
                                    Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order.
                                </p>

                            </div>
                            <!-- End -->

                        </div>
                        <!-- End -->

                    </div>

                </div>

            </div>
        </div>

    </div>
    <!-- Optional JavaScript; choose one of the two! -->


    <!-- Option 1: Bootstrap Bundle with Popper -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>


    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous">
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous">
    </script>
    
    -->

    <script>
        $('#credit_card_option').click(function() {
            $('#credit-card').addClass(['show', 'active']);
            $('#paypal').removeClass(['show', 'active']);
            $('#net-banking').removeClass(['show', 'active']);

            $('#credit_card_option').addClass('active');
            $('#paypal_option').removeClass('active');
            $('#net_banking_option').removeClass('active');

        });

        $('#paypal_option').click(function() {
            $('#paypal').addClass(['show', 'active']);
            $('#credit-card').removeClass(['show', 'active']);
            $('#net-banking').removeClass(['show', 'active']);

            $('#credit_card_option').removeClass('active');
            $('#paypal_option').addClass('active');
            $('#net_banking_option').removeClass('active');

        });

        $('#net_banking_option').click(function() {
            $('#credit-card').removeClass(['show', 'active']);
            $('#paypal').removeClass(['show', 'active']);
            $('#net-banking').addClass(['show', 'active']);

            $('#credit_card_option').removeClass('active');
            $('#paypal_option').removeClass('active');
            $('#net_banking_option').addClass('active');

        });
    </script>

</body>


</html>